* {
    box-sizing: border-box;
}

:root {
    /* text colors */
    --Pale-Violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Dark-Grayish-Violet: hsl(270, 7%, 64%);
    /* Gradient color */
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
    /* secondary color */
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Light-Magent: hsl(289, 100%, 72%);
    /* font size */
    font-size: 16px;
}

@font-face {
    font-family: rubik;
    src: url(https://fonts.google.com/specimen/Rubik);
}